/* UFolder USS Style Sheet for Unity 6.5+ */

/* --- Active Folders --- */

/* Dark skin - Active */
.unity-multi-column-view__row-container.ufolder-dark-active-child-expanded .hierarchy-item__icon {
    background-image: resource("FolderOpened On Icon");
}

.unity-multi-column-view__row-container.ufolder-dark-active-child-collapsed .hierarchy-item__icon {
    background-image: resource("Folder On Icon");
}

.unity-multi-column-view__row-container.ufolder-dark-active-empty .hierarchy-item__icon {
    background-image: resource("FolderEmpty On Icon");
}

/* Light skin - Active */
.unity-multi-column-view__row-container.ufolder-light-active-child-expanded .hierarchy-item__icon {
    background-image: resource("FolderOpened Icon");
}

.unity-multi-column-view__row-container.ufolder-light-active-child-collapsed .hierarchy-item__icon {
    background-image: resource("Folder Icon");
}

.unity-multi-column-view__row-container.ufolder-light-active-empty .hierarchy-item__icon {
    background-image: resource("FolderEmpty Icon");
}


/* --- DeActive Folders --- */

/* Dark skin - DeActive */
.unity-multi-column-view__row-container.ufolder-dark-deactive-child-expanded .hierarchy-item__icon {
    background-image: resource("FolderOpened Icon");
}

.unity-multi-column-view__row-container.ufolder-dark-deactive-child-collapsed .hierarchy-item__icon {
    background-image: resource("Folder Icon");
}

.unity-multi-column-view__row-container.ufolder-dark-deactive-empty .hierarchy-item__icon {
    background-image: resource("FolderEmpty Icon");
}

/* Light skin - DeActive */
.unity-multi-column-view__row-container.ufolder-light-deactive-child-expanded .hierarchy-item__icon {
    background-image: resource("FolderOpened On Icon");
}

.unity-multi-column-view__row-container.ufolder-light-deactive-child-collapsed .hierarchy-item__icon {
    background-image: resource("Folder On Icon");
}

.unity-multi-column-view__row-container.ufolder-light-deactive-empty .hierarchy-item__icon {
    background-image: resource("FolderEmpty On Icon");
}
